# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/
.env
*.log

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/

# Tools / IDE
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
htmlcov/

# OS
.DS_Store

# Node (if any)
node_modules/
